# Before
nmap -p 21,23,445 192.168.xx.xx

# After
nmap -p 21,23,445 192.168.xx.xx
-> filtered or closed